.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#footer{
  position:fixed;
  background-color: goldenrod;
  display: flex;
  flex-direction: row;
  text-align: center;
  bottom: 20;
  width: 100%;
}

#header {
  color: blue;
  background-color: rgba(255, 0, 217, 0.801);
  align-items: center;
  display: flex;
  flex-direction: column;
  position:fixed;
  top: 0;
  width: 100%;
}

/* h1 {
  color: blue ;
  display: flex;
  align-items: center;
  flex-direction: column;
  border:solid 2px white;
  background-color: rgb(111, 241, 198); 
}
*/
body {
  background-image: url("galaxy.jpg");
  
  background-size: auto;
  align-items: center;
  color: rgb(2, 2, 87);
}


#posts {
  color: rgb(98, 12, 211);
  margin: 20px;
  display: inline-flexbox;
  flex-direction: column;
  border:solid 8px rgb(241, 4, 205);
  background-color: rgba(0, 252, 97, 0.687);
  width: 50%;
  float: left;
  text-align: center;
  text-decoration:underline rgb(183, 0, 255);
  text-decoration-style :double;
  font-size: large;
}
 #login {
   margin: 0%;
  margin-top: 5%;
  margin-left: 10%;
  display:inline-table;
 background-color: rgba(0, 255, 255, 0.36);
  position:fixed;
  border: solid 6px rgb(230, 8, 237);
  
  }

  #logout {
    position: fixed;
    float: left;
    margin-left: 75%;
    margin-top: 9%;
    
  }

  .submit-btn {
    background-color: chartreuse;
  }

#newpost {
  min-block-size : 300px;
  min-width: 350px;
  border: solid 5px fuchsia;
  background-color:  rgba(255, 0, 0, 0.438);
  justify-self:right;
  display: grid;
 margin-top: 17%;
  margin-left: 66.5%;
  position: fixed;
  text-align: center;
  color: chartreuse;
} 

#newUser {
  margin: 10px;
  margin-left: 64%;
  display: table;
  border: solid 6px rgb(29, 194, 29);
  position: fixed;
  margin-top: 13%;
}